USE [master]
GO
/****** Object:  Database [ParkingArea]    Script Date: 8.05.2018 23:41:59 ******/
CREATE DATABASE [ParkingArea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingArea', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ParkingArea.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ParkingArea_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ParkingArea_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingArea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingArea]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8.05.2018 23:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[NumberPlate] [nvarchar](50) NOT NULL,
	[CarModel] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParkArea]    Script Date: 8.05.2018 23:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParkName] [nvarchar](100) NOT NULL,
	[MaxCount] [int] NOT NULL,
	[CurrentCount] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ClosingDate] [datetime] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Coordinate] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ParkArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParkAreaOwner]    Script Date: 8.05.2018 23:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkAreaOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ParkAreaOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParkAreaWithOwner]    Script Date: 8.05.2018 23:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkAreaWithOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParkAreaId] [int] NOT NULL,
	[OwnerId] [int] NOT NULL,
 CONSTRAINT [PK_ParkAreaWithOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pricing]    Script Date: 8.05.2018 23:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HourRange] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[ParkAreaId] [int] NOT NULL,
 CONSTRAINT [PK_Pricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ParkArea]  WITH CHECK ADD  CONSTRAINT [FK_ParkArea_Customer] FOREIGN KEY([Id])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[ParkArea] CHECK CONSTRAINT [FK_ParkArea_Customer]
GO
ALTER TABLE [dbo].[ParkAreaWithOwner]  WITH CHECK ADD  CONSTRAINT [FK_ParkAreaWithOwner_ParkArea] FOREIGN KEY([ParkAreaId])
REFERENCES [dbo].[ParkArea] ([Id])
GO
ALTER TABLE [dbo].[ParkAreaWithOwner] CHECK CONSTRAINT [FK_ParkAreaWithOwner_ParkArea]
GO
ALTER TABLE [dbo].[ParkAreaWithOwner]  WITH CHECK ADD  CONSTRAINT [FK_ParkAreaWithOwner_ParkAreaOwner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[ParkAreaOwner] ([Id])
GO
ALTER TABLE [dbo].[ParkAreaWithOwner] CHECK CONSTRAINT [FK_ParkAreaWithOwner_ParkAreaOwner]
GO
ALTER TABLE [dbo].[Pricing]  WITH CHECK ADD  CONSTRAINT [FK_Pricing_ParkArea] FOREIGN KEY([ParkAreaId])
REFERENCES [dbo].[ParkArea] ([Id])
GO
ALTER TABLE [dbo].[Pricing] CHECK CONSTRAINT [FK_Pricing_ParkArea]
GO
USE [master]
GO
